.container {
  display: flex;
  height: 100%;

  .left-container {
    flex: 3;
    background-color: #000000;
    position: relative;

    .sun {
      background-color: #ba8f27;
      border-radius: 200px;
      box-shadow: 0 0 128px red;
      margin-top: -100px;
      margin-left: -100px;
      left: 50%;
      height: 200px;
      position: absolute;
      top: 50%;
      width: 200px;
    }

    .planet-orbit {
      border: 2px solid #373737;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      top: 50%;

      .planet {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        left: 50%;
        position: absolute;
        top: 0%;
      }

    }

  }

  .right-container {
    flex: 1;
    padding: 10px;
    overflow: auto;

    mat-form-field,
    button {
      width: 100%;
    }
  }

}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
