<div class="container">
  <div class="left-container">
    <div class="sun"></div>
    <ng-container *ngFor="let planet of planets; let planetIndex = index">
      <div class="planet-orbit" [@rotatedState]='{value: planet.orbitState, params:{rotationSpeed: planet.orbitSpeed}}'
        (@rotatedState.done)="onAnimationDone($event, planetIndex, 'orbitState')" [ngStyle]="orbitRadius(planet.radius)">
        <div class="planet" [@rotatedState]='{value: planet.state, params:{rotationSpeed: planet.spinSpeed}}'
          (@rotatedState.done)="onAnimationDone($event, planetIndex, 'state')" [ngStyle]="{'background': planet.color}">
          <span>{{planet.name}}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="right-container"></div>
</div>
